<p>Mi cumpleaño es: {{ mydate | date : "dd/MM/yyyy" }}</p>
<p>Mi nombre es: {{ name | lowercase }}</p>
<p>Mi apellido es: {{ lastname | uppercase }}</p>
<p>Mi edad es: {{ myedad | number : "2.1-3" }}</p>
<p>
  Mi salario en mi cuenta bancaria es:
  {{ mymoney | currency : "USD" : "symbol-narrow" : "1.2-2" }}
</p>
<p>El {{ mytime | percent : "2.1-1" }} de mi tiempo es libre</p>
<div>
  <div>
    <p>With JSON pipe:</p>
    <pre>{{ object | json }}</pre>
  </div>
</div>
{{ name | slice : 0 : 3 }}
<p>Cumpleaños {{ mydate | date | uppercase }}</p>
<p>Super power boost: {{ 2 | exponentialStrength : 10 }}</p>
